<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-cn">
    <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>斑马帮</title>

	<!-- Bootstrap -->
	<link href="../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="../css/my-margin.css" rel="stylesheet">
	<link href="../css/my-misc.css" rel="stylesheet">
	<link href="../css/my-color.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
     <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
     <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
     <![endif]-->
    </head>
    <body>
	<%- include('../header') -%>
	
	<div class="container" style="width:100%;margin-left:0px;margin-right:0px;margin-top:0px;margin:0px;background-color:#2c2c2c;">
	    <ul class="nav nav-pills" role="tablist" >
		<li role="presentation" class="col-sm-1" style="width:110px;margin-left:20%"><a href="#" style="color:#ffffff;">斑马帮</a></li>
		<li role="presentation" class="active col-sm-1" style="width:110px;"><a href="#" style="color:#ffffff">球谈</a></li>
		<li role="presentation" class="col-sm-1" style="width:110px;"><a href="#" style="color:#ffffff">赛事</a></li>
		<li role="presentation" class="col-sm-1" style="width:110px;"><a href="#" style="color:#ffffff">场地</a></li>
		<li role="presentation" class="col-sm-1" style="width:110px;"><a href="#" style="color:#ffffff">青训</a></li>
	    </ul>
	</div>
	
	<div class="container">
	    <% var list1Active = 'active' %>
	    <% var list2Active = '' %>
	    <% if(myType == 'video_obj'){ %>
	    <% list1Active = '' %>
	    <% list2Active = 'active' %>
	    <% } %>
	    <div class="row">
		<div class="col-lg-6">
		    <div class="container">
			<div class="tabbable">
			    <ul id="myTab" class="nav nav-tabs">
				<li class="<%= list1Active %>">
				    <a href="#list-1" data-toggle="tab">
		    		精选
				    </a>
				</li>
				<li class="<%= list2Active %>"><a href="#list-2" data-toggle="tab">TV</a></li>
			    </ul>
			    <div class="tab-content">
				<div id="list-1" class="tab-pane <%= list1Active %>">
				    <% allList.forEach(function(aRow){ %>
					<%- include('./aList', {aRow: aRow}) %>
				    <% }); %>
				    <%- include('../pagination', {totalCount : allListCount, pageSize : pageSize, pageNum : pageNum, category : category, myType : "video_obj,subject"}) -%>
				</div>
				<div id="list-2" class="tab-pane <%= list2Active %>">
				    <% vedioList.forEach(function(aRow){ %>
					<%- include('./aList', {aRow: aRow}) %>
				    <% }); %>
				    <%- include('../pagination', {totalCount : totalCount, pageSize : pageSize, pageNum : pageNum, category : category, myType : "video_obj"}) -%>
				</div>
			    </div>
			</div>
		    </div>
		</div>
		<div class="col-lg-4">
		    <img style="margin-top:20%;margin-left:80%;" src="../img/qiutan_xiazai.png">
		</div>
	    </div>
	</div>
	<%- include('../foot') -%>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="../bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>
